@model SFA.DAS.ForecastingTool.Web.Models.ForecastQuestionsModel

<h3 class="heading-medium">Previous answers</h3>
<div>
    <table>
        <tr>
            <td></td>
            <td>
                <a href="@Url.Action("Welcome")">Start again</a>
            </td>
        </tr>
        <tr>
            <td>Annual payroll of @Model.Paybill.ToString("C0")</td>
            <td><a href="@Url.Content($"~/forecast?previousAnswer={Model.Paybill}")">Change</a></td>
        </tr>
        @if (Model.EnglishFraction > 0)
        {
            <tr>
                <td>English percentage of @(Model.EnglishFraction)%</td>
                <td><a href="@Url.Content($"~/forecast/{Model.Paybill}?previousAnswer={Model.EnglishFraction}")">Change</a></td>
            </tr>
        }
        @if (Model is SFA.DAS.ForecastingTool.Web.Models.ResultsViewModel)
        {
            <tr>
                <td>
                    @if (Model.SelectedCohorts.Any())
                    {
                        foreach (var standard in Model.SelectedCohorts)
                        {
                            <div>
                                @standard.Qty apprentices on @standard.Name training course
                            </div>
                        }
                    }
                    else
                    {
                        <div>No apprenticeships selected</div>
                    }
                </td>

                <td style="vertical-align: top;"><a href="@Url.Content($"~/forecast/{Model.Paybill}/{Model.EnglishFraction}")">Change</a></td>
            </tr>
        }
    </table>
</div>