@model SFA.DAS.ForecastingTool.Web.Models.ResultsViewModel

<div class="grid-row">
    <div class="column-full-width">
        <h2 class="heading-xlarge">Your estimated apprenticeship funding</h2>
        <p>
            Based on your annual payroll of <span class="bold-medium">@Model.Paybill.ToString("C0")</span> and your English percentage of <span class="bold-medium">@Model.EnglishFraction%</span>:
        </p>
        <p>
            You will pay <span class="bold-medium">@Model.LevyAmount.ToString("C0")</span> in levy and receive <span class="bold-medium">@Model.LevyFundingReceived.ToString("C0")</span> of apprenticeship funding. This includes the 10% government top up.
        </p>
        <p>Here is your monthly funding breakdown</p>
    </div>
</div>

<div class="grid-row">
    <div class="column-full-width">
        <table>
            <thead>
                <tr>
                    <th>Month</th>
                    <th class="financial">Apprenticeship funding</th>
                    <th class="financial">Estimated training cost</th>
                    <th class="financial">Available funds</th>
                    <th class="financial" style="max-width: 150px;">
                        Co-funding
                        <br />
                        <span style="font-weight: 400;">An additional amount paid by you for apprenticeship training. Government pays the rest.</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var month in Model.Results)
                {
                    <tr>
                        <td>@month.Date.ToString("MMMM yyyy")</td>
                        <td class="financial">@Html.FinancialText(month.LevyIn)</td>
                        <td class="financial">@Html.FinancialText(month.TrainingOut)</td>
                        <td class="financial">
                            <span>@month.Balance.ToString("C0")</span>
                            @if (month.SunsetFunds > 0)
                            {
                                <span class="sunset-funds">@month.SunsetFunds.ToString("C0") expired</span>
                            }
                        </td>
                        <td class="financial">@Html.FinancialText(month.CoPayment)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@if (Model.CanAddPeriod)
{
    <div class="grid-row">
        <div class="column-full-width">
            <a href="@Model.NextPeriodUrl" class="button">Add another 12 months</a>
        </div>
    </div>
}

<div class="grid-row">
    <div class="column-full-width">
        @Html.Partial("_PreviousAnswers", Model)
    </div>
</div>
