@model SFA.DAS.ForecastingTool.Web.Models.ResultsViewModel

<div class="grid-row">
    <div class="column-two-thirds">
        <h2 class="heading-xlarge">Your estimated apprenticeship funding</h2>
        @if (Model.LevyFundingReceived == 0)
        {
            <p>You’re eligible for co-funding.  Using co-funding, you pay @(Model.TopPercentageForDisplay)% toward the cost of apprenticeships and the government pays the rest.</p>
        }
        else if (Model.Results.Any(x => x.CoPaymentEmployer > 0))
        {
            <p>You’ll receive <span class="bold-medium">@Model.LevyFundingReceived.ToString("C0")</span> of apprenticeship funding per year.</p>
            @Html.Partial("_HowLevyCalculated", Model)
            <p>Over the next @Model.Duration months you will receive <span class="bold-medium">@Model.LevyFundingReceivedForDuration.ToString("C0")</span> and your training will cost <span class="bold-medium">@Model.TrainingCostForDuration.ToString("C0")</span>, which leaves a shortfall of <span class="bold-medium">@Model.FundingShortfallForDuration.ToString("C0")</span>. This makes you eligible for co-funding.  Using co-funding, you pay @(Model.TopPercentageForDisplay)% toward the cost of apprenticeships and the government pays the rest.</p>
        }
        else
        {
            <p>You’ll receive <span class="bold-medium">@Model.LevyFundingReceived.ToString("C0")</span> of apprenticeship funding.</p>
            @Html.Partial("_HowLevyCalculated", Model)
        }
    </div>
</div>

<div class="grid-row">
    <div class="column-full-width">
        <h3 class="heading-medium">Here is your monthly funding breakdown</h3>
        <table class="results-table sticky-header">
            <thead>
                <tr>
                    <th colspan="3"></th>
                    <th colspan="2" class="co-funding co-funding-banner">Co-Funding</th>
                    <th></th>
                </tr>
                <tr>
                    <th>Date</th>
                    <th class="financial">Credit</th>
                    <th class="financial">Debit</th>
                    <th class="financial co-funding co-funding-emp">Your contribution</th>
                    <th class="financial co-funding co-funding-govt">Govt contribution</th>
                    <th class="financial">Balance</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var month in Model.Results)
                {
                    <tr>
                        <td>@month.Date.ToString("MMMM yyyy")</td>
                        <td class="financial">@Html.FinancialText(month.LevyIn)</td>
                        <td class="financial">@Html.FinancialText(month.TrainingOut)</td>
                        <td class="financial co-funding co-funding-emp">@Html.FinancialText(month.CoPaymentEmployer)</td>
                        <td class="financial co-funding co-funding-govt">@Html.FinancialText(month.CoPaymentGovernment)</td>
                        <td class="financial">
                            <span>@month.Balance.ToString("C0")</span>
                            @if (month.SunsetFunds > 0)
                            {
                                <span class="sunset-funds">@month.SunsetFunds.ToString("C0") expired</span>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@if (Model.CanAddPeriod)
{
    <div class="grid-row">
        <div class="column-full-width">
            <a href="@Model.NextPeriodUrl" class="button">Add another 12 months</a>
        </div>
    </div>
}

<div class="grid-row">
    <div class="column-full-width">
        @Html.Partial("_PreviousAnswers", Model)
    </div>
</div>

@*@section scripts {
    <script>
        $(document).ready(function () {
            $(".sticky-header").floatThead({ scrollingTop: -64 });
        })
    </script>
}*@