@model SFA.DAS.ForecastingTool.Web.Models.ResultsViewModel

<div class="grid-row">
    <div class="column-two-thirds">
        <h2 class="heading-xlarge">Your estimated apprenticeship funding</h2>
        <p>
            Based on your annual payroll of <span class="bold-medium">@Model.Paybill.ToString("C0")</span> and your English percentage of <span class="bold-medium">@(Model.EnglishFraction == 0 ? 100 : Model.EnglishFraction)%</span>:
        </p>
        <p>
            You will pay <span class="bold-medium">@Model.LevyAmount.ToString("C0")</span> in levy and receive <span class="bold-medium">@Model.LevyFundingReceived.ToString("C0")</span> of apprenticeship funding. This includes the 10% government top up.
        </p>
        <p>Here is your monthly funding breakdown</p>
    </div>
</div>

<div class="grid-row">
    <div class="column-full-width">
        <table class="results-table sticky-header">
            <thead>
            <tr>
                <th colspan="3"></th>
                <th colspan="2" class="co-funding co-funding-banner">Co-Funding</th>
                <th></th>
            </tr>
            <tr>
                <th>Date</th>
                <th class="financial">Funding</th>
                <th class="financial">Training cost</th>
                <th class="financial co-funding co-funding-emp">Your contribution</th>
                <th class="financial co-funding co-funding-govt">Govt contribution</th>
                <th class="financial">Balance</th>
            </tr>
            </thead>
            <tbody>
                @foreach (var month in Model.Results)
                {
                    <tr>
                        <td>@month.Date.ToString("MMMM yyyy")</td>
                        <td class="financial">@Html.FinancialText(month.LevyIn)</td>
                        <td class="financial">@Html.FinancialText(month.TrainingOut)</td>
                        <td class="financial co-funding co-funding-emp">@Html.FinancialText(month.CoPaymentEmployer)</td>
                        <td class="financial co-funding co-funding-govt">@Html.FinancialText(month.CoPaymentGovernment)</td>
                        <td class="financial">
                            <span>@month.Balance.ToString("C0")</span>
                            @if (month.SunsetFunds > 0)
                            {
                                <span class="sunset-funds">@month.SunsetFunds.ToString("C0") expired</span>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@if (Model.CanAddPeriod)
{
    <div class="grid-row">
        <div class="column-full-width">
            <a href="@Model.NextPeriodUrl" class="button">Add another 12 months</a>
        </div>
    </div>
}

<div class="grid-row">
    <div class="column-full-width">
        @Html.Partial("_PreviousAnswers", Model)
    </div>
</div>

@section scripts {
    <script>
        $(document).ready(function() {
            $(".sticky-header").floatThead({ scrollingTop: -64 });
        })
    </script>
}