@model SFA.DAS.ForecastingTool.Web.Models.ResultsViewModel

<h2 class="heading-xlarge">Results</h2>
<p>Here is your forecasted levy cashflow</p>
<table>
    <thead>
    <tr>
        <th>Month</th>
        <th class="financial">Funding Received</th>
        <th class="financial">Training Paid</th>
        <th class="financial">Balance</th>
        <th class="financial">Co-Payment</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var month in Model.Results)
    {
        <tr>
            <td>@month.Date.ToString("MMMM")</td>
            <td class="financial">@Html.FinancialText(month.LevyIn)</td>
            <td class="financial">@Html.FinancialText(month.TrainingOut)</td>
            <td class="financial">@Html.FinancialText(month.Balance)</td>
            <td class="financial">@Html.FinancialText(month.CoPayment)</td>
        </tr>
    }
    </tbody>
</table>

@Html.Partial("_PreviousAnswers", Model)