@using System.Web.Optimization
@model SFA.DAS.ForecastingTool.Web.Models.TrainingCourseViewModel

<div class="training-course">
    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-xlarge">Choose apprenticeships</h1>
            @if (!string.IsNullOrEmpty(Model.ErrorMessage))
            {
                <div class="error">
                    <p class="error-message">@Model.ErrorMessage</p>
                </div>
            }
            @if (Model.LevyFundingReceived > 0)
            {
                <p class="no-bottom-margin">
                    Choose one or more apprenticeships to get a more detailed estimate of how much you will spend every month or you can <a href="0x0/12">skip this step</a>
                </p>
            }
            else
            {
                <p>Choose one or more apprenticeships to get a more detailed estimate of much you will spend on apprenticeships every month. You will only have to pay 10% of the cost and the government will pay the rest.</p>
                <p class="no-bottom-margin">
                    Or you can <a href="0x0/12">skip this step</a>
                </p>


            }
        </div>
    </div>
    <hr />
    <div class="grid-row">
        <div class="column-full-width">
            <form method="post">
                @Html.AntiForgeryToken()
                <input name="trainingCourseSubmit" type="submit" class="hidden" aria-hidden="true" />

                @for (var i = 0; i < Model.SelectedCohorts.Count; i++)
                {
                    var cohort = Model.SelectedCohorts[i];

                    <div class="grid-row">
                        <div class="column-two-thirds">
                            <h3 class="heading-medium no-top-margin">Apprenticeship @(i + 1)</h3>

                            <div class="form-group">
                                <label class="form-label-bold" for="standard@(i)">Type of apprenticeship training</label>
                                <select name="standard" id="standard@(i)" class="form-control training-standard" aria-label="Training standard">
                                    @foreach (var standard in Model.Standards)
                                    {
                                        if (standard.Code == cohort.Code)
                                        {
                                            <option value="@standard.Code" selected="selected" data-price="@standard.Price" data-duration="@standard.Duration">@standard.Name</option>
                                        }
                                        else
                                        {
                                            <option value="@standard.Code" data-price="@standard.Price" data-duration="@standard.Duration">@standard.Name</option>
                                        }
                                    }
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="form-label-bold" for="cohorts@(i)">Number of apprentices</label>
                                <input name="cohorts" id="cohorts@(i)" type="number" class="form-control cohort-size" aria-label="Number of apprentices" value="@cohort.Qty" />
                            </div>
                            <div class="form-group">
                                <fieldset>
                                    <legend class="form-label-bold">Start date</legend>
                                    <div class="form-date">
                                        <div class="form-group form-group-month">
                                            <label for="startDateMonth@(i)">Month</label>
                                            <input name="startDateMonth" id="startDateMonth@(i)" type="number" pattern="[0-9]*" min="0" max="12" class="form-control"
                                                   placeholder="MM" value="@cohort.StartDate.Month.ToString("00")">
                                        </div>
                                        <div class="form-group form-group-month">
                                            <label for="startDateYear@(i)">Year</label>
                                            <input name="startDateYear" id="startDateYear@(i)" type="number" pattern="[0-9]*" min="17" max="21" class="form-control"
                                                   placeholder="YY" value="@(cohort.StartDate.Year - 2000)">
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                        <div class="column-one-third" style="padding-top: 50px">
                            <button name="trainingCourseDelete@($"{cohort.Qty}x{cohort.Code}-{cohort.StartDate.ToString("MMyy")}")" type="submit" class="button button-secondary">Remove this</button>
                        </div>
                    </div>
                    <hr />
                }

                <div class="grid-row">
                    <a name="next-apprenticeship"></a>
                    <div class="column-two-thirds">
                        @if (Model.SelectedCohorts.Count != 0)
                        {
                            <h3 class="heading-medium no-top-margin">Apprenticeship @(Model.SelectedCohorts.Count + 1)</h3>
                        }


                        <div class="form-group">
                            <label class="form-label-bold" for="standardNew">Type of apprenticeship training</label>
                            <select name="standard" id="standardNew" class="form-control training-standard" aria-label="Training standard">
                                <option value="noselection">Please choose...</option>
                                @foreach (var standard in Model.Standards)
                                {
                                    <option value="@standard.Code" data-price="@standard.Price" data-duration="@standard.Duration">@standard.Name</option>
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="form-label-bold" for="cohortsNew">Number of apprentices</label>
                            <input name="cohorts" id="cohortsNew" type="number" class="form-control cohort-size" aria-label="Number of apprentices" min="1" max="1000000" />
                        </div>
                        <div class="form-group">
                            <fieldset>
                                <legend class="form-label-bold">Start date</legend>
                                <p class="text-secondary">This can be any date from May 2017</p>
                                <div class="form-date">
                                    <div class="form-group form-group-month">
                                        <label for="startDateMonth">Month</label>
                                        <input name="startDateMonth" id="startDateMonth" type="number" pattern="[0-9]*" min="0" max="12" class="form-control"
                                               placeholder="MM">
                                    </div>
                                    <div class="form-group form-group-month">
                                        <label for="startDateYear">Year</label>
                                        <input name="startDateYear" id="startDateYear" type="number" pattern="[0-9]*" min="17" max="21" class="form-control"
                                               placeholder="YY">
                                    </div>
                                </div>
                            </fieldset>

                        </div>
                    </div>
                    <div class="column-one-third" style="padding-top: 50px">
                    </div>
                </div>
                <p class="text-secondary">This cost can be negotiated with your training provider.</p>

                <input name="trainingCourseAdd" type="submit" class="button button-secondary pull-link-left" value="Add another apprenticeship" />
                <hr />

                <div class="form-group" style="margin-top: 15px;">
                    <div class="form-group">
                        <input name="trainingCourseSubmit" type="submit" class="button" value="Save and continue" />    
                    </div>
                    <div class="form-group">
                        <input name="trainingCourseSkip" type="submit" class="button button-secondary pull-link-left" value="Skip this step" />
                    </div>
                    
                </div>
            </form>



        </div>
    </div>
</div>
<div class="grid-row">
    <div class="column-full-width">
        @Html.Partial("_PreviousAnswers", Model)
    </div>
</div>

    @section scripts
    {
        @Scripts.Render("~/bundles/training-course")


        <script type="text/javascript">
            $(document).ready(function() {
                ga('send', 'pageview', '/TrainingCourse');
            });
        </script>

    }
