@using System.Web.Optimization
@model SFA.DAS.ForecastingTool.Web.Models.TrainingCourseViewModel

<div class="training-course">
    <div class="grid-row">
        <div class="column-two-thirds">
            <h2 class="heading-xlarge">Apprentices and training</h2>
            @if (!string.IsNullOrEmpty(Model.ErrorMessage))
            {
                <div class="error">
                    <p class="error-message">@Model.ErrorMessage</p>
                </div>
            }
            @if (Model.LevyFundingReceived > 0)
            {
                <p>We estimate the amount you’ll have to spend on apprenticeships after paying your levy is <span class="bold-medium">@Model.LevyFundingReceived.ToString("C0")</span></p>
                <details style="margin-bottom: 20px" role="group">
                    <summary role="button" aria-controls="details-content-0" aria-expanded="false"><span class="summary">How this is worked out</span></summary>
                    <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="true">
                        <p>
                            £15,000 allowance is applied to 0.5% of your gross annual payroll. English percentage applied. @(Model.TopPercentageForDisplay)% government top-up applied
                        </p>
                    </div>
                </details>
                <p>You can now estimate how much you’ll be spending on apprenticeships every month or you can <a href="0x0/12">skip this step</a></p>
            }
            else
            {
                <p>You can now estimate the cost of your apprenticeships.You’ll only need to contribute 10%, the government will pay the rest.</p>
                <p>Or you can <a href="0x0/12">skip this step</a></p>
            }
        </div>
    </div>
    <hr />
    <div class="grid-row">
        <div class="column-full-width">
            <form method="post">
                @Html.AntiForgeryToken()
                <input name="trainingCourseSubmit" type="submit" class="hidden" aria-hidden="true" />

                @for (var i = 0; i < Model.SelectedCohorts.Count; i++)
                {
                    var cohort = Model.SelectedCohorts[i];

                    <div class="grid-row">
                        <div class="column-two-thirds">
                            <h3 class="heading-medium">Apprenticeship @(i + 1)</h3>

                            <div class="form-group">
                                <label class="form-label-bold" for="standard@(i)">Type of apprenticeship training</label>
                                <select name="standard" id="standard@(i)" class="form-control training-standard" aria-label="Training standard">
                                    @foreach (var standard in Model.Standards)
                                    {
                                        if (standard.Code == cohort.Code)
                                        {
                                            <option value="@standard.Code" selected="selected" data-price="@standard.Price" data-duration="@standard.Duration">@standard.Name</option>
                                        }
                                        else
                                        {
                                            <option value="@standard.Code" data-price="@standard.Price" data-duration="@standard.Duration">@standard.Name</option>
                                        }
                                    }
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="form-label-bold" for="cohorts@(i)">Number of apprentices</label>
                                <input name="cohorts" id="cohorts@(i)" type="number" class="form-control cohort-size" aria-label="Number of apprentices" value="@cohort.Qty" />
                            </div>
                            <div class="form-group">
                                <fieldset>
                                    <legend class="form-label-bold">Start date</legend>
                                    <div class="form-date">
                                        <div class="form-group form-group-month">
                                            <label for="startDateMonth@(i)">Month</label>
                                            <input name="startDateMonth" id="startDateMonth@(i)" type="number" pattern="[0-9]*" min="0" max="12" class="form-control"
                                                   placeholder="MM" value="@cohort.StartDate.Month.ToString("00")">
                                        </div>
                                        <div class="form-group form-group-year">
                                            <label for="startDateYear@(i)">Year</label>
                                            <input name="startDateYear" id="startDateYear@(i)" type="number" pattern="[0-9]*" min="17" max="99" class="form-control"
                                                   placeholder="YY" value="@(cohort.StartDate.Year - 2000)">
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                        <div class="column-one-third" style="padding-top: 50px">
                            <button name="trainingCourseDelete@($"{cohort.Qty}x{cohort.Code}-{cohort.StartDate.ToString("yyyy-MM-dd")}")" type="submit" class="button button-secondary">Delete</button>
                        </div>
                    </div>
                    <hr />
                }

                <div class="grid-row">
                    <div class="column-two-thirds">
                        <h3 class="heading-medium">Apprenticeship @(Model.SelectedCohorts.Count + 1)</h3>

                        <div class="form-group">
                            <label class="form-label-bold" for="standardNew">Type of apprenticeship training</label>
                            <select name="standard" id="standardNew" class="form-control training-standard" aria-label="Training standard">
                                <option value="noselection">Please choose...</option>
                                @foreach (var standard in Model.Standards)
                                {
                                    <option value="@standard.Code" data-price="@standard.Price" data-duration="@standard.Duration">@standard.Name</option>
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="form-label-bold" for="cohortsNew">Number of apprentices</label>
                            <input name="cohorts" id="cohortsNew" type="number" class="form-control cohort-size" aria-label="Number of apprentices" />
                        </div>
                        <div class="form-group">
                            <fieldset>
                                <legend class="form-label-bold">Start date</legend>
                                <div class="form-date">
                                    <div class="form-group form-group-month">
                                        <label for="startDateMonth">Month</label>
                                        <input name="startDateMonth" id="startDateMonth" type="number" pattern="[0-9]*" min="0" max="12" class="form-control" 
                                               placeholder="MM" value="04">
                                    </div>
                                    <div class="form-group form-group-year">
                                        <label for="startDateYear">Year</label>
                                        <input name="startDateYear" id="startDateYear" type="number" pattern="[0-9]*" min="17" max="99" class="form-control" 
                                               placeholder="YY" value="17">
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <div class="column-one-third" style="padding-top: 50px">
                    </div>
                </div>
                <hr />

                <input name="trainingCourseAdd" type="submit" class="button button-grey" value="Add another" />
                <hr />

                <div class="form-group" style="margin-top: 15px;">
                    <input name="trainingCourseSubmit" type="submit" class="button" value="Estimate" />
                    <input name="trainingCourseSkip" type="submit" class="button button-secondary" value="Skip" />
                </div>
            </form>


            @Html.Partial("_PreviousAnswers", Model)
        </div>
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/bundles/training-course")
}