@model SFA.DAS.ForecastingTool.Web.Models.TrainingCourseViewModel

<div class="grid-row">
    <div class="column-two-thirds">
        <h2 class="heading-xlarge">Apprentices and training</h2>
        @if (!string.IsNullOrEmpty(Model.ErrorMessage))
        {
            <div class="error">
                <p class="error-message">@Model.ErrorMessage</p>
            </div>
        }
        <div class="warning">
            <p class="warning-message">You can skip this step if you don’t have this information.</p>
        </div>
        <p>Enter the type of apprenticeship training and number of apprentices you are taking on.</p>

        <form method="post">
            <table id="trainingCourses">
                <thead>
                    <tr>
                        <th style="width: 60%;">Type of apprenticeship training</th>
                        <th style="width: 20%;">Number of apprentices</th>
                        <th style="width: 20%;">Start date</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var cohort in Model.SelectedCohorts)
                    {
                        <tr>
                            <td>
                                <select name="standard" class="form-control-1-3" style="width: 100%;" aria-label="Training standard">
                                    @foreach (var standard in Model.Standards)
                                    {
                                        if (standard.Code == cohort.Code)
                                        {
                                            <option value="@standard.Code" selected="selected" data-price="@standard.AnnualCost">@standard.Name</option>
                                        }
                                        else
                                        {
                                            <option value="@standard.Code" data-price="@standard.AnnualCost">@standard.Name</option>
                                        }
                                    }
                                </select>
                            </td>
                            <td>
                                <input name="cohorts" type="number" class="form-control-1-2" aria-label="Number of apprentices" value="@cohort.Qty" />
                            </td>
                            <td>
                                <input name="startDate" type="date" class="form-control-3-4" style="width: 100%;" aria-label="Start date" value="@cohort.StartDate.ToString("yyyy-MM-dd")" />
                            </td>
                        </tr>
                    }

                    <tr>
                        <td>
                            <select name="standard" class="form-control-1-3" style="width: 100%;" aria-label="Training standard">
                                <option value="noselection">Please choose...</option>
                                @foreach (var standard in Model.Standards)
                                {
                                    <option value="@standard.Code" data-price="@standard.AnnualCost">@standard.Name</option>
                                }
                            </select>
                        </td>
                        <td>
                            <input name="cohorts" type="number" class="form-control-1-2" aria-label="Number of apprentices" />
                        </td>
                        <td>
                            <input name="startDate" type="date" class="form-control-3-4" style="width: 100%;" aria-label="Start date" value="2017-04-01" />
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="form-group" style="margin-top: 15px;">
                <input name="trainingCourseSubmit" type="submit" class="button" value="Estimate" />
                <input name="trainingCourseSkip" type="submit" class="button button-secondary" value="Skip" />
                <input name="trainingCourseAdd" type="submit" class="button button-secondary" value="Add another" />
            </div>
        </form>


        @Html.Partial("_PreviousAnswers", Model)
    </div>
</div>


@section scripts
{
    <script src="@Url.Content("~/Scripts/forecasting-number-extension-1.0.js")"></script>
    <script src="@Url.Content("~/Scripts/forecasting-trainingcourse-1.0.js")"></script>
}